[build-system]
requires = [ "poetry-core>=1.9.0",]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "django-oscar-cch"
version = "7.2.1"
description = "Integration between django-oscar and the CCH Sales Tax Office SOAP API."
authors = ["thelab <thelabdev@thelab.co>"]
readme = "README.rst"
homepage = "https://gitlab.com/thelabnyc/django-oscar/django-oscar-cch"
repository = "https://gitlab.com/thelabnyc/django-oscar/django-oscar-cch"
license = "ISC"

[[tool.poetry.packages]]
include = "oscarcch"
from = "src"

[tool.poetry.dependencies]
python = "^3.10"
Django = "^4.2.15"
django-oscar = "^3.2.4"
instrumented-soap = "^2.1.1"

[tool.poetry.group.circuitbreaker.dependencies]
pybreaker = "^1.2.0"

[tool.poetry.group.dev.dependencies]
coverage = "^7.6.1"
flake8 = "^7.1.1"
freezegun = "^1.5.1"
lxml = "^5.3.0"
psycopg2-binary = "^2.9.9"
sorl-thumbnail = "^12.10.0"
sphinx-rtd-theme = "^2.0.0"
sphinx = "^7.4.7"
tox = "^4.18.0"
unittest-xml-reporting = "^3.2.0"

[tool.commitizen]
name = "cz_conventional_commits"
annotated_tag = true
gpg_sign = true
tag_format = "v$version"
update_changelog_on_bump = true
changelog_merge_prerelease = true
version_provider = "poetry"
version_scheme = "pep440"
version_files = [
    "pyproject.toml:version",
]
pre_bump_hooks = [
    "pre-commit run --all-files || true",
]
post_bump_hooks = [
    "git push origin master $CZ_POST_CURRENT_TAG_VERSION"
]
