alabaster==0.7.9
Babel==2.3.4
Django==1.9.12
django-extra-views==0.6.4
django-haystack==2.5.1
django-oscar==1.3
django-statsd-mozilla==0.3.16
django-tables2==1.0.7
django-treebeard==4.1.0
django-widget-tweaks==1.4.1
docutils==0.13.1
factory-boy==2.8.1
Faker==0.7.7
flake8==3.2.1
freezegun==0.3.8
imagesize==0.7.1
instrumented-soap==1.1.0
Jinja2==2.9.5
lxml==3.7.2
MarkupSafe==0.23
mccabe==0.5.3
mock==2.0.0
olefile==0.44
pbr==1.10.0
phonenumbers==7.7.5
Pillow==4.0.0
psycopg2==2.6.2
purl==1.3
pycodestyle==2.2.0
pyflakes==1.3.0
Pygments==2.2.0
python-dateutil==2.6.0
pytz==2016.10
requests==2.13.0
six==1.10.0
snowballstemmer==1.2.1
sorl-thumbnail==12.4a1
Sphinx==1.5.2
statsd==2.1.2
suds-jurko==0.6
Unidecode==0.4.20
