# Packages maintained by thelab
versiontag==1.1.0
instrumented-soap==1.1.0

# Test Reqs
psycopg2==2.6.1
flake8===2.5.4
freezegun==0.3.6
lxml==3.6.0

# Everything else
Django==1.9.6
django-statsd-mozilla==0.3.16
django-oscar==1.2.1
